.pixDiv {
  display: flex;
  gap: 26px;
}

.pixImgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.priceNormal {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.58);
}

.priceDiscount {
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  color: #929292;
}
