/*
0 - 600PX: Phone
600 - 900px: Table portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query M3 */
/* Grid breakpoints */
.carouselContainer {
  margin-left: 40px;
}
.carouselContainer:global(.vtex-store-components-3-x-productImagesGallerySlide) {
  margin: unset;
}

.productImageTag--main {
  width: unset !important;
  height: 664px !important;
}

.thumbImg {
  border-radius: 8px;
  max-width: 90px;
  max-height: 90px;
}
.thumbImg--video {
  width: 90px;
  height: 90px;
}

.productImagesThumb {
  width: fit-content !important;
  margin-right: 16px;
}