/*
0 - 600PX: Phone
600 - 900px: Table portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query M3 */
/* Grid breakpoints */
.flexRowContent--add-to-cart-button-background {
  margin: unset;
}
.flexRowContent--add-to-cart-button-background :global(.vtex-button) {
  background-color: black;
  border-radius: 0;
  border: 0;
  height: 49px;
  width: 526px;
  margin-left: 10px;
}

.flexColChild :global(.vtex-flex-layout-0-x-flexColChild) {
  display: flex;
}

.flexRowContent--quantity-and-add-button :global(.vtex-button__label) {
  padding: unset !important;
}