@charset "UTF-8";
/*
0 - 600PX: Phone
600 - 900px: Table portrait
900 - 1200px: Tablet landscape
[1200 - 1800] is where our nortal styles apply
1800px + : Big desktop
*/
/* Media Query M3 */
/* Grid breakpoints */
.buttonText--add-to-cart-button {
  position: relative;
  color: black;
}
.buttonText--add-to-cart-button::before {
  content: "ADICIONAR À SACOLA";
  position: absolute;
  right: 15px;
  top: 1px;
  display: block;
  color: white;
}