.paginationDot {
  height: 10px !important;
  width: 10px !important;
  background: #000000;
}

.paginationDot--isActive {
  height: 17px !important;
  width: 17px !important;
  background: white;
  border: 0.5px solid #000000;
}

.paginationDotsContainer {
  display: flex;
  align-items: center;
}

.slideArrows {
  width: 11.2px;
  height: 29.6px;
}
