.sellingPrice--hasListPrice {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  margin: unset;
}

.installments--installmentsPrice {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #929292;
}

.installmentsNumber--installmentsPrice {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #929292;
}

.currencyCode--installmentsPrice {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #929292;
}

.currencyInteger--installmentsPrice {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #929292;
}

.currencyDecimal--installmentsPrice {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #929292;
}
.currencyFraction--installmentsPrice {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #929292;
}
