.product-identifier__separator {
  display: none;
}

.product-identifier__label {
  display: none;
}

.product-identifier__value {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: rgba(146, 146, 146, 0.48);
}

.product-identifier {
  display: flex;
  justify-content: end;
  width: 100%;
}
